<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>36</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/weekend14715/LoginApp/main/Published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\Users\hhtua\Downloads\LoginApp\LoginApp\Published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/weekend14715/LoginApp/main/Published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-03-28T18:22:07.0681622Z;True|2023-03-29T01:22:01.9374910+07:00;True|2023-03-29T01:21:13.9274867+07:00;True|2023-03-28T23:56:30.7947441+07:00;True|2023-03-28T23:42:06.2751123+07:00;True|2023-03-28T19:56:58.2818520+07:00;False|2023-03-28T19:56:40.2987533+07:00;True|2023-03-28T16:25:49.6743099+07:00;False|2023-03-28T16:24:15.3769609+07:00;False|2023-03-28T16:23:36.3065752+07:00;True|2023-03-28T00:04:25.7992518+07:00;True|2023-03-27T23:39:13.1507123+07:00;True|2023-03-26T22:22:03.7659051+07:00;True|2023-03-26T08:04:30.3021638+07:00;False|2023-03-26T08:02:04.0688046+07:00;True|2023-03-25T21:44:35.6974927+07:00;True|2023-03-25T21:41:02.3639446+07:00;False|2023-03-25T13:14:45.0697968+07:00;False|2023-03-25T13:13:39.7620088+07:00;False|2023-03-25T13:13:24.9721218+07:00;True|2023-03-25T09:59:54.8018860+07:00;True|2023-03-25T09:53:42.0677434+07:00;True|2023-03-25T09:52:25.5422476+07:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.4 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>